{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}



 {% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('vendor/animate/animate.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('vendor/css-hamburgers/hamburgers.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('vendor/select2/select2.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('vendor/jquery/jquery-3.2.1.min.js') }}"></script>
	<script src="{{ asset('vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('vendor/select2/select2.min.js') }}"></script>
	<script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/sweetalert.js') }}"></script>
{% endblock %}

{% block body %}



<div class="limiter">
		<div class="container-login100" style="background-image: url('images/sky_messenger.jpg');">
			<div class="wrap-login100 p-t-190 p-b-30">
				<form method="post" class="login100-form validate-form">

                {% if error %}
        {# <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div> #}

        <script>
        Swal.fire({
  icon: 'error',
  title: '¡Error!',
  text: 'Por favor verifique sus credenciales',
  footer: '<a href="">¿Olvidó su usuario/contraseña?</a>'
})
        </script>
    {% endif %}

     {% for flashSuccess in app.flashes('success') %}

	 <script>
        Swal.fire({
			icon: 'info',
			title: 'Se ha registrado con exito!',
			text: 'Por favor revise su bandeja de entrada, le hemos enviado un correo de validación.'
			
			})
        </script>

        {# <div class="alert alert-info" role="alert">{{ flashSuccess }}</div> #}
    {% endfor %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
					<div class="login100-form-avatar">
						<img src="images/sky_messenger.jpg" alt="AVATAR">
					</div>

					<span class="login100-form-title p-t-20 p-b-45">
						Sky Messenger
					</span>

					<div class="wrap-input100 validate-input m-b-10" data-validate = "Username is required">
						{# <input class="input100" type="text" name="username" placeholder="Username"> #}
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input100" required autofocus>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-10" data-validate = "Password is required">
						{# <input class="input100" type="password" name="pass" placeholder="Password"> #}
                         <input class="input100" type="password" name="password" id="inputPassword" placeholder="Password" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock"></i>
						</span>
					</div>
                    <div class="container-login100-form-btn p-t-10">
						<label class="txt2">
                			<input type="checkbox" id="remember_me"  name="_remember_me" /> 
							<label for="remember_me" class="txt1">Recordarme</label> 
            			</label>
					</div>

					<div class="container-login100-form-btn p-t-10">
						<button class="login100-form-btn" type="submit">
							Entrar
						</button>
					</div>

					<div class="text-center w-full p-t-25 p-b-230">
						<a href="#" class="txt1">
							¿Olvidó su usuario/contraseña?
						</a>
					</div>

					<div class="text-center w-full">
						<a class="txt1" href="register">
							Crear una nueva cuenta
							<i class="fa fa-long-arrow-right"></i>						
						</a>
					</div>

                     <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >  
				</form>
			</div>
		</div>
	</div>




{# <div>
    <span>Don't have an account? </span><a href="{{ path('app_register')}}">Register</a>
</div> #}



{% endblock %}

{% block footer %}

{% endblock %}