{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block javascripts %}
    <script type="text/javascript">    
        var usuarios_logueados = [];
        var base_url = ''+'{{ app.request.baseUrl }}'+'';
        var id_destinatario_seleccionado = -1;
        var nick_destinatario_seleccionado = '';
        var iniciando = true;

        ActualizarUsuariosLogueados = function (){
                $.get("{{path('get_logued_users')}}", function(data, status){
                    $("#listado_destinatarios ul").empty();
                    if(status == 'success'){
                        usuarios_logueados = data.data;  
                        usuarios_logueados.map(function (element){
                            if(element.id != -1){ //Si no es la sala publica 
                                if(element.id != '{{ perfil.usuario.id }}'){ //Si no es el usuario logueado
                                    $("#listado_destinatarios ul").append('<li><a href="#" onclick="EstablecerDestinatario('+element.id+',\''+element.nick+'\');">'+element.nick+'</a><span> </span><a target="_blank" href="'+base_url+'/perfil/'+element.perfil+'">(Ver perfil)</a></li>');
                                }
                            }else{ //La sala publica no require de perfil
                                $("#listado_destinatarios ul").append('<li><a href="#" onclick="EstablecerDestinatario('+element.id+',\''+element.nick+'\');">'+element.nick+'</a></li>');
                            }                            
                        });

                        if(iniciando == true && usuarios_logueados.length > 0){
                            EstablecerDestinatario(usuarios_logueados[0].id, usuarios_logueados[0].nick);
                            iniciando = false;
                        }
                    }else{
                        usuarios_logueados = [];
                        $("#listado_destinatarios ul").append('<li>Error cargando los elementos :-(</li>');
                    }             
                });  
            };

        EstablecerDestinatario = function (id_destinarario, nick_destinatario){           
            destinatario_seleccionado = id_destinarario;
            nick_destinatario_seleccionado = nick_destinatario;
            $('#destinatario').text(nick_destinatario_seleccionado);
        }

        //Cuando el documento cargue
        $(document).ready(function (){            
            ActualizarUsuariosLogueados();
        });
        
    </script>
{% endblock %}

{% block body %}
<header>
<div>Conversación con <b><span id="destinatario">Cargando...</span></b></div>
<div>
<span>Usted ha accedido como <b>{{ perfil.nick }}</b></span>
<a href="{{ path ('app_logout')}}">(Salir)</a>
<br />
<a target="_blank" href="{{ path ('perfil_show', {'id':perfil.id})}}">(Mi perfil)</a>
</div>
</header>

<article>
    <section>
        Areas para los mensajes remitente y destinatario (1)
    </section>
    <section>
        Areas para los mensajes remitente y destinatario (2)
    </section>
</article>

<aside>
    <button type="button" onclick="ActualizarUsuariosLogueados()">Actualizar</button>
    <div id="listado_destinatarios">
        <ul>
            <li>Cargando...</li>
        </ul>
    </div>    
</aside>

<article>
<input type="text" name="texto" placeholder="Escriba el mensaje">
<button type="submit" onclick="alert('En desarrollo...');">Enviar</button>
</article>

{% endblock %}
