{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('vendor/chat/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/chat/css/all.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/chat/css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/sky.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/chat/css/jquery.mCustomScrollbar.min.css') }}">

{% endblock %}


{% block javascripts %}
        {# Scripts de la plantilla #}
        <script src="{{ asset('vendor/chat/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/chat/js/jquery.mCustomScrollbar.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/chat/js/main.js') }}"></script>

    <script type="text/javascript">   

        function imageClick(url) {
        	window.location = url;
        }; 
        var usuarios_logueados = [];
        var base_url = ''+'{{ app.request.baseUrl }}'+'';
        var id_destinatario_seleccionado = -1;
        var nick_destinatario_seleccionado = '';
		var avatar_destinatario_seleccionado = "{{ asset('images/default.png') }}";
		var role_destinatario = '';
        var iniciando = true;
		var mensajes = [];
		var actualizando_usuarios_logueados = false;
		var scrolled = false;
		var estado_destinatario_seleccionado = '';
		var buscando = false;

		//Array para mostrar el rol de forma mas legible a los usuarios
        var roles = [];
        roles["ROLE_USER"]="Usuario";
		roles["ROLE_ADMIN"]="Administrador";
		roles["ROLE_SALA_PUBLICA"]="";

		updateScroll = function(){			
			if(!scrolled){
				var element = document.getElementById("scrollMensajes");
				element.scrollTop = element.scrollHeight;	
			}
		}

		ActualizarEstadoDestinatarioSeleccionado = function(){
			usuarios_logueados.map(function(element){
				if(element.id == id_destinatario_seleccionado){
					var icono_activo = (element.activo == true) ? 'online_icon': 'offline_icon';
					$("#icono_estado_usuario_seleccionado").removeClass();
					$("#icono_estado_usuario_seleccionado").addClass(icono_activo);
				}
			});
		}

		ActualizarAvatarDestinatarioSeleccionado = function(){
			usuarios_logueados.map(function(element){
				if(element.id == id_destinatario_seleccionado){
					if(element.id == -1){
						avatar_destinatario_seleccionado = "{{ asset('images/') }}"+element.avatar;
					}else{
						if(element.avatar != null){
							avatar_destinatario_seleccionado = "{{ asset('uploads/') }}"+element.avatar;
						}else{
							avatar_destinatario_seleccionado = "{{ asset('images/default.png') }}";							
						}
					}
				}
			});

			$("#foto_avatar").attr('src', avatar_destinatario_seleccionado);
		}

        ActualizarUsuariosLogueados = function (){

			if(buscando == false){
				if(actualizando_usuarios_logueados == false){
					actualizando_usuarios_logueados = true;
					$.get("{{path('get_logued_users')}}", function(data, status){
						$("#listado_destinatarios ul").empty();
						$("#usuarios").empty();
						if(status == 'success' && data.success == true){
							usuarios_logueados = data.data;  
							usuarios_logueados.map(function (element){  
								if(element.id != -1){ //Si no es la sala publica 
									if(element.id != '{{ perfil.usuario.id }}'){ //Si no es el usuario logueado
										$("#listado_destinatarios ul").append('<li><a href="#" onclick="EstablecerDestinatario('+element.id+',\''+element.nick+'\',\''+ roles[element.roles]+'\');">'+element.nick+'</a><span> '+ roles[element.roles]+' </span><a target="_self" href="'+base_url+'/perfil/'+element.perfil+'">(Ver perfil)</a></li>');
										var perfilUrl = base_url+'/perfil/'+element.perfil;
                    var avatar="{{ asset('images/default.png') }}";
                    if(element.avatar!=null){
                      avatar="{{ asset('uploads/') }}"+element.avatar;
                    }
										var icono_activo = (element.activo == true) ? 'online_icon': 'offline_icon';
										$("#usuarios").append('<li class="active"><div class="d-flex bd-highlight"><div class="img_cont"><img  src="'+avatar+'" class="rounded-circle user_img" onclick=imageClick("'+perfilUrl+'") ><span class="'+icono_activo+'"></span></div><div class="user_info"><span><a href="#" onclick="EstablecerDestinatario('+element.id+',\''+element.nick+'\', \''+roles[element.roles]+'\');">'+element.nick+'</span></a><p>'+roles[element.roles]+'</p></div></div></li>');	
									}
								}else{ //La sala publica no require de perfil
									$("#listado_destinatarios ul").append('<li><a href="#" onclick="EstablecerDestinatario('+element.id+',\''+element.nick+'\', \''+ roles[element.roles]+'\');">'+element.nick+'</a></li>');
									$("#usuarios").append('<li class="active"><div class="d-flex bd-highlight"><div class="img_cont"><img src="{{ asset('images/') }}'+element.avatar+'" class="rounded-circle user_img"><span class="online_icon"></span></div><div class="user_info"><span><a href="#" onclick="EstablecerDestinatario('+element.id+',\''+element.nick+'\', \''+roles[element.roles]+'\');">'+element.nick+'</span></a></div></div></li>');
								}                            
							});
							if(iniciando == true && usuarios_logueados.length > 0){
								EstablecerDestinatario(usuarios_logueados[0].id, usuarios_logueados[0].nick, roles[usuarios_logueados[0].roles]);
								iniciando = false;
							}
							actualizando_usuarios_logueados = false;
							ActualizarEstadoDestinatarioSeleccionado();
						}else{
							usuarios_logueados = [];
							$("#listado_destinatarios ul").append('<li>Error cargando los elementos :-(</li>');
							$('#destinatario').text('Error cargando el elemento :-(');
							actualizando_usuarios_logueados = false;
						}             
					});  
				}

			}			
        };

		CompararMensajesNuevosConMensajesViejos = function (mensajesNuevos, mensajesViejos){
			if(mensajesNuevos.length != mensajesViejos.length){
				return false;
			}else{
				for (let i = 0; i < mensajesNuevos.length; i++) {
					if(mensajesNuevos[i].id == mensajesViejos[i].id){
						if(i == mensajesNuevos.length -1){
							return true;
						}
					}else{
						return false;
					}			
				}				
			}
		}

		CargarMensajesParaDestinatario = function (forzado){						
			if(id_destinatario_seleccionado == -1){
				    $.get(
                        "{{path('mensaje_index_public')}}", 
                        function(data, status){
                            if(status == 'success' && data.success == true){
								mensajesNuevos = data.data;
								if(CompararMensajesNuevosConMensajesViejos(mensajesNuevos, mensajes) == false || forzado == true){
									$("#mensajes").html("");
									mensajes = data.data;
									mensajes.map(function (mensaje){
									var content = '';									
									if('{{ perfil.usuario.id }}' == mensaje.remitente.id_usuario){
										content = '<div class="d-flex justify-content-end mb-4">';
										content += '<div class="msg_cotainer_send">';
										content += mensaje.texto;
										content += '<span class="msg_time_send">'+mensaje.fecha.date+'</span>';
										content += '</div>';
										content += '<div class="img_cont_msg">';
										var avatar="";
										if('{{ perfil.avatar }}'==''){
											avatar="{{ asset('images/default.png') }}";
										}else{
											avatar="{{ asset('uploads/') }}"+'{{ perfil.avatar }}';
										};
										
										content += '<img src="'+avatar+'" class="rounded-circle user_img_msg">';								
										content += '</div>';
										content += '</div>';
									}else{
									    content = '<div class="d-flex justify-content-start mb-5">';
									    content += '<div class="img_cont_msg">';
										var avatar="";
										console.log(mensaje.remitente.avatar);
										if(mensaje.remitente.avatar==null){
											avatar="{{ asset('images/default.png') }}";
											} else {
											avatar="{{ asset('uploads/') }}"+mensaje.remitente.avatar;
										};
										content += '<img src="'+avatar+'" class="rounded-circle user_img_msg">';
										content += '</div>';
										content += '<div class="msg_cotainer">';
										content += '<span class="msg_nick">'+mensaje.remitente.nick+'</span>';							
										content += mensaje.texto;
										content += '<span class="msg_time">'+mensaje.fecha.date+'</span>';
										content += '</div>';
										content += '</div>';										
									}
									$("#mensajes").append(content);
								});
								scrolled = false;	
								updateScroll();	
								}     					
                            }else{
                                alert("Error: "+ data.error);
                            }
                        }
                    );
			}else{
				var path_mensaje_index_private = "{{path('mensaje_index_private', {'id_usuario_seleccionado':'parametro_id_usuario_seleccionado'})}}";
				path_mensaje_index_private = path_mensaje_index_private.replace("parametro_id_usuario_seleccionado", id_destinatario_seleccionado);
				$.get(
						path_mensaje_index_private, 
                        function(data, status){
                            if(status == 'success' && data.success == true){
								mensajesNuevos = data.data;
								if(CompararMensajesNuevosConMensajesViejos(mensajesNuevos, mensajes) == false || forzado == true){
									$("#mensajes").html("");
									mensajes = data.data;
									mensajes.map(function (mensaje){
									var content = '';									
									if('{{ perfil.usuario.id }}' == mensaje.remitente.id_usuario){
										content = '<div class="d-flex justify-content-end mb-4">';
										content += '<div class="msg_cotainer_send">';
										content += mensaje.texto;
										content += '<span class="msg_time_send">'+mensaje.fecha.date+'</span>';
										content += '</div>';
										content += '<div class="img_cont_msg">';
										var avatar="";
										if('{{ perfil.avatar }}'==''){
											avatar="{{ asset('images/default.png') }}";
										}else{
											avatar="{{ asset('uploads/') }}"+'{{ perfil.avatar }}';
										};
										content += '<img src="'+avatar+'" class="rounded-circle user_img_msg">';
										
										content += '</div>';
										content += '</div>';
									}else{
									    content = '<div class="d-flex justify-content-start mb-5">';
									    content += '<div class="img_cont_msg">';

										var avatar="";
										if(mensaje.remitente.avatar==null){
											avatar="{{ asset('images/default.png') }}";	
										}else{
											avatar="{{ asset('uploads/') }}"+mensaje.remitente.avatar;
										};

										
										content += '<img src="'+avatar+'" class="rounded-circle user_img_msg">';
										content += '</div>';
										content += '<div class="msg_cotainer">';
										content += '<span class="msg_nick">'+mensaje.remitente.nick+'</span>';							
										content += mensaje.texto;
										content += '<span class="msg_time">'+mensaje.fecha.date+'</span>';
										content += '</div>';
										content += '</div>';										
									}
									$("#mensajes").append(content);
								});
								scrolled = false;	
								updateScroll();	
								}     					
                            }else{
                                alert("Error: "+ data.error);
                            }
                        }
                    );
			}
		}

        EstablecerDestinatario = function (id_destinarario, nick_destinatario, role_destinatario){
			if(id_destinarario != id_destinatario_seleccionado){
				scrolled = false;
				$("#mensajes").html("");				
			}           
            id_destinatario_seleccionado = id_destinarario;
            nick_destinatario_seleccionado = nick_destinatario;
			role_destinatario = role_destinatario;
            $('#destinatario').text(nick_destinatario_seleccionado);
			$('#role_usuario_seleccionado').text(role_destinatario);
			ActualizarAvatarDestinatarioSeleccionado();
			ActualizarEstadoDestinatarioSeleccionado();
			CargarMensajesParaDestinatario(true);
        }

        EnviarMensaje = function(){			
            var texto = $("#texto").val();            
            var _token = $("#_token").val();
            if(texto != ""){
                $.post(
                        "{{path('mensaje_enviar')}}", 
                        {
                            texto: texto, 
                            destinatario: id_destinatario_seleccionado, 
                            _token: _token
                        }, 
                        function(data, status){
                            if(status == 'success' && data.success == true){
                                $("#texto").val("");
                                $("#texto").focus();
								scrolled = false;															
								CargarMensajesParaDestinatario(true);
                            }else{
                                alert("Error: "+ data.error);
                            }
                        }
                    );
            }else{
                alert("Error: You have must text any message.");
            }            
        }

        //Cuando el documento cargue
        $(document).ready(function (){    
			ActualizarUsuariosLogueados();
			var actualizador_usuarios = setInterval(ActualizarUsuariosLogueados, 20000);

			var actualizador_mensajes = setInterval(CargarMensajesParaDestinatario, 5000, false);

            $('#texto').keypress(function(event){
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if(keycode == '13'){
                    EnviarMensaje();  
                }
            });

			$('#scrollMensajes').on('scroll', function (){
				scrolled = true;
			});

			$('#buscador').val("");

			$('#buscador').keyup(function(event){
                var keycode = (event.keyCode ? event.keyCode : event.which);
				
				var criterio_busqueda = $('#buscador').val();				

				if(criterio_busqueda == ""){
					buscando = false;
					$("#listado_destinatarios ul").empty();
					ActualizarUsuariosLogueados();
				}else{
					buscando = true;
					$("#listado_destinatarios ul").empty();
                    $("#usuarios").empty();
				
					for(indice in usuarios_logueados){
						var item = usuarios_logueados[indice];
						var nombre = item.nick;
						if(criterio_busqueda.length != 0 && nombre.length != 0){
							if(nombre.toLowerCase().search(criterio_busqueda.toLowerCase()) != -1){
								if(item.id != -1 && item.id != '{{ perfil.usuario.id }}'){
								var icono_activo = (item.activo == true) ? 'online_icon': 'offline_icon';
								$("#listado_destinatarios ul").append('<li><a href="#" onclick="EstablecerDestinatario('+item.id+',\''+item.nick+'\',\''+ roles[item.roles]+'\');">'+item.nick+'</a><span> '+ roles[item.roles]+' </span><a target="_blank" href="'+base_url+'/perfil/'+item.perfil+'">(Ver perfil)</a></li>');
								var perfilUrl = base_url+'/perfil/'+item.perfil;
								var icono_activo = (item.activo == true) ? 'online_icon': 'offline_icon';
								$("#usuarios").append('<li class="active"><div class="d-flex bd-highlight"><div class="img_cont"><img  src="{{ asset('vendor/chat/img/_D.jpg') }}" class="rounded-circle user_img" onclick=imageClick("'+perfilUrl+'") ><span class="'+icono_activo+'"></span></div><div class="user_info"><span><a href="#" onclick="EstablecerDestinatario('+item.id+',\''+item.nick+'\', \''+roles[item.roles]+'\');">'+item.nick+'</span></a><p>'+roles[item.roles]+'</p></div></div></li>');
								};
							};
						};
					};
				}
            });
        });
        
    </script>
{% endblock %}

{% block body %}
<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">
				<div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">

                    {# Buscar #}
					<div class="card-header">        
						<div class="input-group">
							<input id="buscador" type="text" placeholder="Buscar..." name="" class="form-control search">
							<div class="input-group-prepend">
								<span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
							</div>                            
						</div>                        
					</div>

                    {# Lista de Usuarios Conectados #}
					<div class="card-body contacts_body">
						<ui class="contacts" id="usuarios"></ui>
					</div>
					<div class="card-footer"></div>
				</div></div>

                {# Panel Principal#}
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">

                        {# Cabecera del Panel Principal #}
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">									
									<img id="foto_avatar" src="{{ asset('images/default.png') }}" class="rounded-circle user_img">									
									<span class="offline_icon" id="icono_estado_usuario_seleccionado"></span>
								</div>
								<div class="user_info">
                                    
									<span id="destinatario">Cargando</span>
                                    <!-- La siguiente linea se requiere que se compruebe el estado del usuario-->
									<p id="role_usuario_seleccionado">Cargando</p>
								</div>
								<div class="video_cam">
									<span><i class="fas fa-video"></i></span>
									<span><i class="fas fa-phone"></i></span>
								</div>
							</div>
							<span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
							<div class="action_menu">
								<ul>
                	<li>
										<p style="text-align:center;">
											{% if perfil.avatar == null %}
											<img src="{{ asset('images/default.png') }}" class="rounded-circle user_img">
											{% else %}
											<img src="{{ asset('uploads/' ~ perfil.avatar) }}" class="rounded-circle user_img">
											{% endif %}
										</p>
									</li>

									<li><i class="fas fa-user-circle"></i> <a target="_self" href="{{ path ('perfil_show', {'id':perfil.id})}}">Mi Perfil</a></li>

                  {% if is_granted('ROLE_ADMIN') %}
									<li><i class="fas fa-lock"></i> <a target="_self" href="{{ path ('app_admin') }}">Administración</a></li>
                  {% endif %}
									<li><i class="fas fa-cog"></i><a href="{{ path ('configuracion')}}">Configurar</a></li>
                  <li><i class="fas fa-power-off"></i><a href="{{ path ('app_logout')}}">Salir</a></li>
								</ul>
							</div>
						</div>

                        {# Aqui se muestran los mensajes #}
						<div class="card-body msg_card_body" id="scrollMensajes">
							<div id="mensajes"></div>
						</div>
						<div class="card-footer">
							<div class="input-group">
								<div class="input-group-append">
									<span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
								</div>

                                {# TextEdit para enviar mensajes #}
                                <input id="texto" type="text" name="texto" class="form-control type_msg" placeholder="Escriba el mensaje">

								<input type="hidden" id="_token" name="_token" value="{{ csrf_token('enviar_mensaje' ~ perfil.usuario.id) }}">

								<div class="input-group-append">
                                <button type="submit" onclick="EnviarMensaje()" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i> </button>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
