{% extends 'base.html.twig' %}

{% block title %}New Perfil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('vendor/chat/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/chat/css/all.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/chat/css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/chat/css/jquery.mCustomScrollbar.min.css') }}">
{% endblock %}

{% block body %}
    <h1>Create new Perfil</h1>

    {{ include('perfil/_form.html.twig') }}

    <a href="{{ path('perfil_index') }}">back to list</a>
{% endblock %}
