{% extends 'base.html.twig' %}

{% block title %}Perfil{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('vendor/animate/animate.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('vendor/css-hamburgers/hamburgers.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('vendor/select2/select2.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/sky.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('vendor/jquery/jquery-3.2.1.min.js') }}"></script>
	<script src="{{ asset('vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('vendor/select2/select2.min.js') }}"></script>
	<script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/sweetalert.js') }}"></script>
{% endblock %}

{% block body %}
<div class="limiter">
     {% for flashSuccess in app.flashes('success') %}
	    <script>
            Swal.fire({
                icon: 'info',
                title: 'Información',
                text: '{{flashSuccess}}',			
			})
        </script>
    {% endfor %}

    <div class="container-login100" style="background-image: url('{{ asset('images/sky_messenger.jpg') }}');">
        <div class="wrap-login100">

            <div class="text-center w-full">	
                <p class="txt1"><b>PERFIL</b></p>
                <br />
            </div>    

            <div class="container-login100-form-btn p-t-3">
                <label class="txt2">							
                    {% if perfil.avatar == null %}
						<img src="{{ asset('images/default.png') }}" class="img_perfil_show">
					{% else %}
						<img src="{{ asset('uploads/' ~ perfil.avatar) }}" class="img_perfil_show">
					{% endif %}
                </label>
            </div>               

            <div class="container-login100-form-btn p-t-10">
                <label class="txt2">							
                    <label for="avisar" class="txt1"><b>Nombre y Apellidos:</b></label> 
                </label>
            </div>

            <div class="container-login100-form-btn">
                <label class="txt2">							
                    <label for="avisar" class="txt1">
                    {{ perfil.nombre }} {{ perfil.apellidos }} ({{ perfil.nick }})
                    {{ (perfil.sexo == 'Masculino') ? '<i class="fa fa-mars fa-fw"></i>' : '<i class="fa fa-venus fa-fw"></i>' }}
                    </label> 
                </label>
            </div>

            <div class="container-login100-form-btn p-t-10">
                <label class="txt2">							
                    <label for="avisar" class="txt1"><b>Contacto:</b></label> 
                </label>
            </div>
            
            <div class="container-login100-form-btn p-t-10">
                <label class="txt2">							
                    <label for="avisar" class="txt1">
                        <b>Email:</b> {{ perfil.usuario.email }} <br />
                        <b>Teléfono:</b> {{ perfil.telefono }} <br />
                        <b>Dirección:</b> {{ perfil.direccion }}
                    </label> 
                </label>
            </div>

            <div class="container-login100-form-btn p-t-10">
                <label class="txt2">							
                    <label for="avisar" class="txt1"><b>Descripción:</b></label> 
                </label>
            </div>

            <div class="container-login100-form-btn">
                <label class="txt2">							
                    <label for="avisar" class="txt1">{{ perfil.descripcion }}</label> 
                </label>
            </div>

            {% if current_user_id == perfil.usuario.id %}
            <div class="text-center w-full mt-2">
                <a class="txt1" href="{{ path('perfil_edit', {'id': perfil.id}) }}">
                <i class="fa fa-pencil"></i>
                Editar						
                </a>
            </div>                
            {% endif %}                

            <div class="text-center w-full mt-2">
                <a class="txt1" href="{{ path('chat')}}">
                <i class="fa fa-long-arrow-left"></i>	
                    Regresar al chat												
                </a>
            </div>	
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}
